*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
.main-container{
    width: 75%;
    border:1px solid #000;
    margin:0 auto;
    text-align: center;
}
.flex-box-container-1{
    display: flex;
    border:1px solid #000;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-box-container-1 img{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.7);
    width:250px;
    margin: 10px;
}